form{
    position:absolute;
    margin-left: 5px;
    left:50%;
    top: 50%;
    transform: translateX(-50%)translateY(-50%);
}
#title{
    display: block;
    margin-bottom: 1rem;
    
}
#message{
    margin: top 1rem; ;
    display: block;
    margin-bottom: 1rem;
}
.errortitle{
    border: 1px solid black;
    background-color: #ffc;
    margin-bottom: 1rem;
}
.errormessage{
    border: 1px solid black;
    background-color: #ffc;
}
.submit{
margin-right: 1rem;
margin-top: 1rem;
}
.submit:hover{
    background-color:#ADD8E6 ;
}
.space {
    text-align: center;
    float:center;
  background-color:rgb(201, 242, 251);
  border-left: 4px solid;
  border-right: 4px solid;
  padding: 6px 12px;
  Font-Size: 1.5rem;
  font-weight: bold;
}

