<section *ngIf="!notes.length">
    <h3>No Notes Available</h3>
<button class="btn" ><a routerLink="/create">Create</a></button>
</section>





<section *ngIf="notes.length">
  <form class="example-form">
    <mat-form-field class="example-full-width">
    <span matPrefix> </span>
    <input type="tel" matInput placeholder="Search" name= "search" [(ngModel)]= "search">
    
    </mat-form-field>
    <br/>
    <button  (click)="filternotes()">find</button>
    <button class="add" ><a routerLink="/create">Add</a></button>
</form>

<!-- <div *ngFor="let item of notes">
    <div>Title: {{item.title}}</div>
    <div>Message: {{item.message}}</div>
</div> -->
<ng-container  *ngIf="search == ''">
<mat-card class="example-card" *ngFor="let item of notes">
    <mat-card-header >
      <mat-card-title>{{item.title}}</mat-card-title>
      
    </mat-card-header>
    <mat-card-content>
      <p>{{item.message}}</p>
      
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="getedit(item.id)">Edit</button>
      <button mat-button mat-button (click)="deleteemployee(item.id)">Delete</button>
    </mat-card-actions>
  </mat-card>
</ng-container>
<ng-container  *ngIf="search != ''">
  <mat-card class="example-card" *ngFor="let item of filterednotes">
      <mat-card-header >
        <mat-card-title>{{item.title}}</mat-card-title>
        
      </mat-card-header>
      <mat-card-content>
        <p>{{item.message}}</p>
        
      </mat-card-content>
      <mat-card-actions>
        <button mat-button (click)="getedit(item.id)">Edit</button>
        <button class="btn btn-default" mat-button (click)="deleteemployee(item.id)">Delete</button>
      </mat-card-actions>
    </mat-card>
  </ng-container>
</section>



    